@import "tailwindcss";
html , body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

@keyframes slideIn {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out;
}
